body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: left;
    height: 100px;
    width: 95%;
}
.navbar img {
    width: 150px;
}

.register-link {
    text-decoration: none;    
}
.register-link:hover {
    text-decoration: underline;    
}
.nav-link {
  color: rgb(92, 92, 92);
}
.nav-link:hover {
  color: black;
}
.nav-link-2 {
  color: rgb(199, 199, 199); 
  text-decoration: none;
}
.nav-link-2:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.button-main {
    border: 1px solid rgba(0, 0, 0, 0.221);
    background-color: rgba(255, 255, 255, 0.658);
}
.button-main:hover {
    background-color: #ecececa7;
    border: 1px solid rgb(58, 58, 58);  
}

.hero-section {
    background-image: url('/IMG/asset/hands.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

@media (max-width: 1000px) {  
  .hero-section {
    height: 600px;      
  }
}

.btn-outline-primary:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  color: #294582;
}
.shadow-right {
box-shadow: 8px 0 16px -6px rgba(0,0,0,0.35);
  border-radius: .5rem;
}


.subsec-second {
  margin-left: 100px;
}
.prev-img {
  width: 400px;
}
.prev-img-2 {
  width: 500px;
}
.prev-img-3 {
  width: 700px;
}

@media (max-width: 1300px) {  
  .subsec-second {
    margin-left: 80px;      
  }
  .prev-img {
    width: 280px;
  }
  .prev-img-2 {
    width: 350px;
  }
  .prev-img-3 {
    width: 550px;
  }
}