@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #294582;
$lightPrimary: #335ebc77;
$brokenWhite: #fafafa;
$lightGrey: #b9b9b9;
$darkGrey: #919191;
$black: black;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary":      $primary,
    "lightPrimary": $lightPrimary,
    "brokenWhite":  $brokenWhite,
    "lightGrey":    $lightGrey,
    "darkGrey":     $darkGrey,
    "black":        $black
  )
);

$custom-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
$box-shadow: $custom-shadow;
$box-shadow-sm: 0 0 20px rgba(0, 0, 0, 0.2);
$box-shadow-lg: 0 0 40px rgba(0, 0, 0, 0.35);


.py-2-5 {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1.5rem,
  5: 2rem,
  6: 2.5rem,
  7: 3rem,
  8: 3.5rem,
  9: 4rem,
  10: 4.5rem,
  11: 5rem,
  12: 5.5rem,
  13: 6rem,
  14: 6.5rem,
  15: 7rem,
  16: 7.5rem,
  17: 8rem,
  18: 8.5rem,
  19: 9rem,
  20: 9.5rem,
  21: 10rem,
  22: 10.5rem,
  23: 11rem,
  24: 11.5rem,
  25: 12rem,
  26: 12.5,
  27: 13rem,
  28: 13.5rem,
  29: 14rem,
  30: 14.5rem,
  31: 15rem,
  32: 15.5rem,
  33: 16rem,
  34: 16.5rem,
  35: 17rem,
  36: 17.5rem,
  37: 18rem,
  38: 18.5rem,
  39: 19rem,
  40: 19.5rem,
  41: 20rem,
  42: 20.5rem,
  43: 21rem,
  44: 21.5rem,
  45: 22rem,
  46: 22.5rem,
  47: 23rem,
  48: 23.5rem,
  49: 24rem,
  50: 24.5rem,
  51: 25rem
);

$font-sizes: (
  1: 2.5rem,
  2: 2rem,   
  3: 1.75rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem,
  7: 0.875rem,
  8: 0.850rem,  
  9: 0.825rem,  
  10: 0.800rem,  
  11: 0.750rem,
  12: 0.700rem,  
  13: 0.650rem,
  14: 0.600rem,  
  15: 0.550rem
);